<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap-3.3.5-dist/css/bootstrap.min.css" %}">>>
    <script src="{% static "jquery-2.1.4/jquery-2.1.4.min.js" %}">
    <script src="{% static "bootstrap-3.3.5-dist/js/bootstrap.min.js" %}">
    <title>{% block title %}Home Automation Expert. Your resource for Smart Home solutions!{% endblock %}</title>
    {% block extrahead %}{% endblock %}
  </head>
</html> 
<body>
{% block body %}
<div class="container">
  <h1>My First Bootstrap Page</h1>
  <p>This is some text.</p> 
</div>
{% endblock %}

</body>
</html>
